@charset "UTF-8";
.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 10;
    visibility: hidden;
  }
}
* {
  box-sizing: border-box;
  color: #1c1c1c;
  /* add */
}